<!doctype html>
<html lang="en">
  <head>
    <title>vidkart4u</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    
        #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      z-index: -2;

      
    }
    



    </style>
  
</head>
  <body>

    

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top "  style="background: #000000">
     
      <form action="/">
       <button class="btn btn-dark" ><i class="fas fa-dolly"></i>VidKart</button>
      </form>
       <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse class" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto">
            
          </ul>
          
          <form action="/admin/logout" method="POST">
            <button class="btn btn-primary">Log out</button>
          </form>
          
          <form method="POST" action="/admin/loggedin/product" class="form-inline my-2 my-lg-0" >
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="padding-left: 20px; color: white;">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            -->
            <input type="search" name="search" placeholder="Search" id="search" style="padding-left: 20px; color: black;">
            <button class="btn btn-success">Search</button>
          </form>
        </div></button>
        
      </nav>
      
      <br><br>
      <video autoplay muted  id="myVideo">
        <source src="/headerphoto/Sell2.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      
    <div >
      <center>
        
        
        <div class="container">
          <h1 >Welcome 
            <span style="color: rgb(112, 44, 168);"><%=name%></span></h1>
            <br>
            <div >  
            </div>
            <div class="" style="float: right;">
              
              
            </div>
          </div>
      </center>
 

    <% let itemlength = items.length; %>

      <% if(itemlength ===0 ){ %> 
        <center>   <h1>Sorry, we do not have this item now.</h1>
        </center>
        <%  }%> 
    <center>
            <%for(var j=0;j<Colleges.length;j++) {%>
               <h1><%= j+1%>)<%= Colleges[j]%></h1>
            <%}%>
        <% if(Colleges.length===0) { %>
          <h1>No College Associated till now.</h1>
        <%}%>
        </center>
        <% for(i=0;i<itemlength;i++) {%> 
              <br><br>
<video autoplay muted  id="myVideo">
  <source src="/headerphoto/Sell.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> 
      <div class="container">
        <div class="row">
          
          <div class="column-66">
            <h1 class="xlarge-font"><b><%= items[i].title  %> </b></h1>
            <h1 class="large-font" style="color:MediumSeaGreen;"><b> <h3>Price: <%= items[i].price %></h3></b> </h1>
            <p style="font-size:36px; "><span ></span> <%= items[i].description %> </p>
            <h3>Contact number of seller : <%= items[i].phoneNumber %> </h3>
              <% let id =items[i]._id %> 

              <% path = '/upload/'+items[i].imagePath %>
                <img src="<%=path%>" width="20%" height="70%" style="float: right; padding-bottom: 30%;">
            <form action="/admin/loggedin/addtocart/<%=id%>"  method="POST">
              <button class="btn btn-success">Add to my cart </button>
            </form>
            
          </div>
        </div>
      <br>


    

      <% } %> 


</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>